#innerdocbody{
  padding: 60px 16px 16px;
}

/*
#innerdocbody{
	width: 100%;
	padding: 40px 55px!important;
	max-width: 885px;
	margin: auto;
	box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
	overflow: inherit;
	outline: none;
	min-height: 700px;
  outline: 0px solid transparent;
} */
